@page
@model Web.Pages.Redis.IndexModel
@{
    ViewData["Title"] = "Use Azure Redis with ASP.NET Core";
}

<h2 class="pageTitle">Use Azure Redis with ASP.NET Core web app</h2>

<p class="pageDescription">This sample demonstrates how to use Redis Cache with an ASP.NET Core web application.</p>

<form method="get" class="form-inline mb-3">
    <div class="searchBox">
        <label for="ProductId" class="searchLabel">Product ID:</label>
        <input type="text" id="ProductId" name="ProductId" class="searchText" value="@Model.ProductId" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<br />

<span>Elapsed Time: @Model.ElapsedTime</span>
<pre class="queryResult">
    @ViewData["queryResult"]
</pre>
