@page
@model Web.Pages.SQL.ExecuteAsModel
@{
    ViewData["Title"] = "User-Assigned Managed Identity -SQL";
}

<h2 class="pageTitle">Microsoft Entra authentication with Azure SQL</h2>

<p class="pageDescription">This page demonstrates how to use Microsoft Entra authentication with Azure SQL Database</p>

<form method="get">

    <span>ConnectionString:</span>
    <pre class="connectionString">
        @ViewData["connectionString"]
    </pre>

    <div class="radioButtonGroup">
        <span>Schema:</span>
        <div class="radioButtons">
            <input type="radio" id="Pubs" name="schema" value="Pubs">
            <label for="Pubs">Pubs</label>
        </div>
        <div class="radioButtons">
            <input type="radio" id="SalesLT" name="schema" value="SalesLT">
            <label for="SalesLT">SalesLT</label>
        </div>
    </div>

    <div class="radioButtonGroup">
        <span>User Id:</span>
        <div class="radioButtons">
            <input type="radio" id="uami-aw-pubs" name="userid" value="uami-aw-pubs">
            <label for="uami-aw-pubs">uami-aw-pubs</label>
        </div>
        <div class="radioButtons">
            <input type="radio" id="uami-aw-saleslt" name="userid" value="uami-aw-saleslt">
            <label for="uami-aw-saleslt">uami-aw-saleslt</label>
        </div>
        <div class="radioButtons">
            <input type="radio" id="uami-test-3_a" name="userid" value="uami-test-3_a">
            <label for="uami-test-3_a">uami-test-3_a</label>
        </div>
        <div class="radioButtons">
            <input type="radio" id="uami-test-3_b" name="userid" value="uami-test-3_b">
            <label for="uami-test-3_b">uami-test-3_b</label>
        </div>
        <div class="radioButtons">
            <input type="radio" id="sqluser-test-3" name="userid" value="sqluser-test-3">
            <label for="sqluser-test-3">sqluser-test-3</label>
        </div>
    </div>

    <div class="submitButton">
        <input type="submit" value="Submit" />
    </div>

    <span>@ViewData["query"]</span>
    <pre class="queryResult">@ViewData["queryResult"]</pre>

</form>

<div class="pageLink">
    <a asp-page="Index">←&nbsp;System-Assigned Managed Identity -SQL</a>
</div>