@page
@model Web.Pages.Blob.IndexModel
@{
    ViewData["Title"] = "System-Assigned Managed Identity -Blob";
}

<h2 class="pageTitle">Authorize access to blobs using Microsoft Entra ID</h2>

<p class="pageDescription">This page demonstrates how to use Microsoft Entra authentication with Azure Blob Storage</p>

<form method="get">

    <span>Blob service:</span>
    <pre class="connectionString">
        @ViewData["blobService"]
    </pre>

    <div class="radioButtonGroup">
        <span>Container:</span>
        <div class="radioButtons">
            <input type="radio" id="saleslt" name="container" value="saleslt">
            <label for="saleslt">saleslt</label>
        </div>
        <div class="radioButtons">
            <input type="radio" id="pubs" name="container" value="pubs">
            <label for="pubs">pubs</label>
        </div>
    </div>

    <div class="submitButton">
        <input type="submit" value="Submit" />
    </div>

    <span class="messageBox">@ViewData["message"]</span>
    <div class="downloadBox">
        @if (Model.blob != "")
        {
            <span>Downloaded blob:</span>
            <span>@Model.blob</span>
        }
    </div>

</form>

<div class="pageLink">
    <a asp-page="ManagedIdentity">User-Assigned Managed Identity -Blob&nbsp;→</a>
</div>