@page
@model Web.Pages.Blob.ManagedIdentityModel
@{
    ViewData["Title"] = "User-Assigned Managed Identity -Blob";
}

<h2 class="pageTitle">Authorize access to blobs using Microsoft Entra ID</h2>

<p class="pageDescription">This page demonstrates how to use Microsoft Entra authentication with Azure Blob Storage</p>

<form method="get">

    <span>Blob service:</span>
    <pre class="connectionString">
        @ViewData["blobService"]
    </pre>

    <div class="radioButtonGroup">
        <span>Container:</span>
        <div class="radioButtons">
            <input type="radio" id="pubs" name="container" value="pubs">
            <label for="pubs">pubs</label>
        </div>
        <div class="radioButtons">
            <input type="radio" id="saleslt" name="container" value="saleslt">
            <label for="saleslt">saleslt</label>
        </div>
    </div>

    <div class="radioButtonGroup">
        <span>User Id:</span>
        <div class="radioButtons">
            <input type="radio" id="uami-aw-pubs" name="userid" value="3558b9a1-322f-44e5-aae8-2d26efe3f860">
            <label for="uami-aw-pubs">uami-aw-pubs</label>
        </div>
        <div class="radioButtons">
            <input type="radio" id="uami-aw-saleslt" name="userid" value="67635508-5459-4227-9caa-7847a31aa58d">
            <label for="uami-aw-saleslt">uami-aw-saleslt</label>
        </div>
        <div class="radioButtons">
            <input type="radio" id="uami-test-3_a" name="userid" value="b1c3891b-e443-4b03-95d2-af9b4c3a849b">
            <label for="uami-test-3_a">uami-test-3_a</label>
        </div>
        <div class="radioButtons">
            <input type="radio" id="uami-test-3_b" name="userid" value="a6e30a64-a259-41a0-b5a5-00e2e7fc2e1e">
            <label for="uami-test-3_b">uami-test-3_b</label>
        </div>
    </div>

    <div class="submitButton">
        <input type="submit" value="Submit" />
    </div>

    <span class="messageBox">@ViewData["message"]</span>
    <div class="downloadBox">
        @if (Model.blob != "")
        {
            <span>Downloaded blob:</span>
            <span>@Model.blob</span>
        }
    </div>

</form>

<div class="pageLink">
    <a asp-page="Index">←&nbsp;System-Assigned Managed Identity -Blob</a>
</div>