@page "{Category?}"
@model Aspnet.Web.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Product Category";
}
@using Aspnet.Web.Models;

<div>
    <a asp-page="Index" asp-route-Category="Bikes">Bikes</a>
    <a asp-page="Index" asp-route-Category="Components">Components</a>
    <a asp-page="Index" asp-route-Category="Clothing">Clothing</a>
    <a asp-page="Index" asp-route-Category="Accessories">Accessories</a>
</div>

<br />

<div>
    <table>
        <thead>
            <th width="100">Id</th>
            <th width="300">Category</th>
            <th width="500">SubCategory</th>
            <th width="200">Products</th>
        </thead>

        @foreach (var c in Model.ProductCategories)
        {
            <tr>
                <td>@c.ProductCategoryId</td>
                <td>@c.Category</td>
                <td>@c.SubCategory</td>
                <td>@c.ProductCount</td>
            </tr>
        }
    </table>
</div>
