@page
@model Web.Pages.Api.IndexModel
@{
    ViewData["Title"] = "API Call";
}

<h1 class="pageTitle">Call a Web API</h1>
<p class="pageDescription">This page demonstrates how to call a Web API from a web app</p>

@ViewData["servicePlan"]

<pre class="apiResult">
    @ViewData["apiResult"]
</pre>
